/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(9, 160, 220);
    font-family: 'Poppins', sans-serif;
}

.container__paragraph {
    background-color: rgba(0, 0, 0, 0.721);
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
}

.container__colorCode {
    color: rgb(136, 155, 228);
}

.container__button {
    /* background-color: #41acf4; */
    background-color: #007BFF;
    color: white;
    padding: 12px 18px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
}

.container__button:hover {
    background-color: rgba(0, 0, 0, 0.777);
    color: white;

    /* button animation */
    transform: scale(1.05);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 1s, transform 0.3s, box-shadow 0.3s;
}


/* media queries */

@media only screen and (max-width: 450px) {
    .container {
        padding: 15px;
    }

    .container__paragraph {
        padding: 16px;
        font-size: 16px;
    }

    .container__button {
        padding: 10px;
        font-size: 16px;
    }
}
